#
# A set of default configurations for this image
#
[mysql]
socket=/var/lib/mysql/mysql.sock


[mysqlbackup]
user=mysqlbackup
backup_dir=/backup/full
incremental_backup_dir=/backup/incremental
with_timestamp
socket=/var/lib/mysql/mysql.sock


[mysql]
user=root
password=root
show-warnings


[mysqld]
# Suggested values for security and consistency
explicit_defaults_for_timestamp
local-infile=0

# Avoid messing with dns
skip-name-resolve

# Use GTID
gtid-mode=ON
enforce-gtid-consistency 
log-slave-updates
log-bin
# Set server id just to make --initialize working with log-bin.
server-id=0

# and crash-safe replication
relay-log-recovery=1
relay-log=relay-bin
master-info-repository=TABLE
relay-log-info-repository=TABLE


# Be as consistent as possible
innodb-flush-log-at-trx-commit=1   
innodb_log_file_size=5M
innodb-fast-shutdown=0
myisam-recover-options=FORCE,BACKUP

## Options for slave replication
#slave-net-timeout=60
#read-only

# Monitor slow queries
slow-query-log=1
slow-query-log-file=slow-query.log
long-query-time=2

# Additional features
event-scheduler=1

# Monitoring and Replication facilities
#report-host=%%hostname%%.docker


