#
# Run a master and a slave server with GTID enabled and read-only
# 

devel:
  image: mysql-community:latest
  environment:
    - MYSQL_ROOT_PASSWORD=root
    - MYSQL_REPLICA_USER=repl
    - MYSQL_REPLICA_PASS=repl
  volumes:
    - .:/code
  entrypoint: /code/docker-entrypoint.sh
  
master:
  image: mysql-community:latest
  hostname: master
  environment:
    - MYSQL_ROOT_PASSWORD=root
    - MYSQL_REPLICA_USER=repl
    - MYSQL_REPLICA_PASS=repl
  volumes:
    - .:/code
  command: mysqld  --log-bin=master-bin --relay-log=master-relay-bin --log-slave-updates --relay-log-recovery=1 --master-info-repository=TABLE --relay-log-info-repository=TABLE --gtid-mode=ON --enforce-gtid-consistency --report-host=master --explicit-defaults-for-timestamp --innodb-log-file-size=5M 


slave:
  image: mysql-community:latest
  environment:
    - MYSQL_ROOT_PASSWORD=root
    - MYSQL_REPLICA_USER=repl
    - MYSQL_REPLICA_PASS=repl
    - MYSQL_MASTER_SERVER=master
    - MYSQL_MASTER_ROOT_PASS=root
    - MYSQL_MASTER_WAIT_TIME=60
  links:
    - master
  volumes:
    - .:/code
  command: mysqld  --log-bin=slave-bin --relay-log=slave-relay-bin --log-slave-updates --relay-log-recovery=1 --master-info-repository=TABLE --relay-log-info-repository=TABLE --gtid-mode=ON --enforce-gtid-consistency --report-host --explicit-defaults-for-timestamp --read-only --innodb-log-file-size=5M
