#
# A set of default configurations for this image
#
[mysql]
socket=/var/lib/mysql/mysql.sock
default-character-set=utf8


[mysqlbackup]
user=mysqlbackup
backup_dir=/backup/full
incremental_backup_dir=/backup/incremental
with_timestamp
socket=/var/lib/mysql/mysql.sock

[mysqld]
# Suggested values for security and consistency
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
explicit_defaults_for_timestamp
local-infile=0

## Be as consistent as possible
innodb-flush-log-at-trx-commit=1   
myisam-recover-options=FORCE,BACKUP
#
## Use GTID
#gtid-mode=ON
#enforce-gtid-consistency 
#log-slave-updates
#
## and crash-safe replication
#relay-log-recovery=1
#relay-log=relay-bin
#master-info-repository=TABLE
#relay-log-info-repository=TABLE
#
## Options for slave replication
#slave-net-timeout=60
#read-only
#
## Monitor slow queries
#slow-query-log=1
#slow-query-log-file=slow-query.log
#long-query-time=2
#
## Additional features
#event-scheduler=1
#
## Monitoring and Replication facilities
#report-host=%%hostname%%.docker
#
#
