[mysqld]

# Limit disk usage.
innodb_log_file_size=5M
skip-name-resolve
user=mysql

# server-id=1
log-bin
binlog-format=row
binlog-checksum=NONE

# Crash-safe replication.
master-info-repository=TABLE
relay-log-info-repository=TABLE

# Use GTID
gtid-mode=on
enforce-gtid-consistency=on

# Forward binlogs.
log-slave-updates


# 
# Enable mysqlsh usage.
#
plugin-load=mysqlx.so

# Required for group replication.
transaction_write_set_extraction=XXHASH64

#loose- prefix used for the group_replication variables above instructs the server to
#  continue to start if the Group Replication plugin has not been loaded 
#  at the time the server is started.
loose-group_replication_group_name=8a94f357-aab4-11df-86ab-c80aa9429562

# Don't start replication at boot, instead configure it manually and
#  use the mysqlsh.
#loose-group_replication_start_on_boot=off
#loose-group_replication_bootstrap_group=off

# Enable intercommunication only on this network.
loose-group_replication_ip_whitelist="172.17.0.0/16" #,192.168.0.0/16,127.0.0.0/8"

# Those variables are set via mysqlsh provisioning procedure. If you
#  want to configure replication by hand you should provide the address
#  of each peer.
#loose-group_replication_local_address=x.x.x.x:33061
#loose-group_replication_peer_addresses=y.y.y.y:33061


